
.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.panel-custom .panel-body{
    padding: 10px 15px;
    display: none;
}
.panel-custom{
    /*border-color: #d9534f;*/
    border-color: #E17572;
}
.panel-custom > .panel-heading{
    color: #fff;
    background-color: #d9534f;
    border-color: #E17572;
}
.panel-title{
    font-weight: normal;
}
.panel-body i{
    float:right;
}
.panel .panel-body{
    border-bottom:1px solid #E17572;
}
.panel .panel-body:last-child{
    border-bottom:none;
}
.status-page span{
    color:#d9534f;
}

/*
ribbon*/


.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -17%;
    z-index: 1000;
}
.error{
    display: none;
}
.comments-wrap{
    background-color: #dddddd;
    padding: 1%;
    border-radius: 5px;
}
.insert-rating-wrap{
    display: none;
}
#add_comment, #show_comment{
    cursor: pointer;
    color:#777777;
}
.active_comment{
    cursor:default !important;
    color: inherit  !important;
}
.ribbon-green {
    font: bold 12px Sans-Serif;
    color: #333;
    text-align: center;
    /*text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;*/
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #d44944;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d44944), to(#b02f2a));
    background-image: -webkit-linear-gradient(top, #d44944, #b02f2a);
    background-image:    -moz-linear-gradient(top, #d44944, #b02f2a);
    background-image:     -ms-linear-gradient(top, #d44944, #b02f2a);
    background-image:      -o-linear-gradient(top, #d44944, #b02f2a);
    color: #80130b;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #80130b;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}
.sold-wraper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: RGBA(255,255,255,0.3);
}